@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(75, 75, 75);
  background: rgb(216, 216, 216);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* Style the first li in the .ranking-list ul */
@layer components {
    ul.ranking-list {
      /* Give every other li (3rd, 5th, 7th, etc.) a gray background */
      li:nth-child(odd) {
        background-color: #fafaff;
      }
      li:first-child {
        font-weight: bold;
        background-color: #5b5be6;
        color: white;
      }
    }
}